$mainColor: #d1a954;
$border: rgba(209, 169, 84, 0.9);
$white: #fff;
$b: #222222;
$gray: gray;
$inputBorder: #d0d0d0;
$menuColor: #000;
$registr: red;
$insta: #f9f7f7;
$menuSize: 13px;
$rtext: 36px;
$rr: 9px;
$reee: 14px;
$Reee: 16px;
$gale: 24px;
